.input-group {
    margin-top: 100px;
    margin-bottom: 20px;
}

#task_result_place {
    margin-top: 20px;
}

.list-group-item {
    height: auto;
    padding: 20px 12px 20px 12px;
}

.pull-xs-right {
    float: right !important;
}

.label-default {
    background-color: #818a91;
}

.label-pill {
    padding-right: .6em;
    padding-left: .6em;
    -ms-border-radius: 10rem;
    border-radius: 10rem;
}

.label {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    -ms-border-radius: 50px;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
}

p {
    margin-bottom: 0;
}

.selectpicker {
    margin: auto;
    position: relative;
}

.task-content {
    width: 520px;
    text-align: center;
    margin: auto;
}

.task-content > .container > * {
    text-align: center;
}

.btn-group {
    text-align: center;
    padding: 0;
}

.third-task {
    text-align: center;
    margin-top: 50px;
}

.row > input,.row > form> input {
    width: 120px;
    float: left;
    margin: 20px;
}

#result {
    margin-top: 20px;
    height: 25px;
    font-size: 16px;
}
