@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="intro">
    <div class="intro-content">
        <img class="twophoneimage" src="../images/twodevices@2x.png">
        <div class="intro-text">
            <h2>Держите свою жизнь под контролем</h2>
            <p id="intro-text">С Wunderlist выполнять повседневные задачи стало проще, чем когда-либо. Планируете ли вы отпуск, хотите ли поделиться списком покупок с партнером или управляете одновременно несколькими проектами, — вам поможет Wunderlist, в котором вы можете планировать выполнение, как личных, так и профессиональных задач. </p>
        </div>
        <div href="../Account/Register" class="btn btn-default btn-intro-register">Создать бесплатную учетную запись</div>
        <div class="btn btn-default btn-upload">Загрузить Wunderlist</div>
    </div>
</div>
<div class="features">
    <div class="features-plans">
        <div class="wrapper">
            <div class="col first-column">
                <span class="features-todo">
                    <img class="features-icon" src="../images/checkmark.svg"><h3>Планы любого рода</h3>
                </span>
                <p class="subline">Организуйте и публикуйте свои списки дел, обязанностей, покупок, фильмов и работы по дому. Что бы вы ни планировали, насколько бы важной или незначительной ни была задача, Wunderlist позволяет с легкостью добиться наилучших результатов.</p>
            </div>
            <div class="col second-column"><img id="todo-image" src="../images/to-dos.png"></div>
        </div>
    </div>
    <div class="features-reminder">
        <div class="wrapper">
            <div class="col first-column"><img id="reminder-image" src="../images/reminders.png"></div>
            <div class="col second-column">
                <span class="features-todo">
                    <img class="features-icon" src="../images/reminder.svg"><h3>Получайте напоминания в любое время</h3>
                </span>
                <p class="subline">Устанавливайте сроки и напоминания, назначайте задачи. Независимо от того, составили вы список рабочих задач или запланировали развлечения, с Wunderlist вы никогда не опоздаете.</p>
            </div>
        </div>
    </div>
    <div class="features-collab">
        <div class="wrapper">
            <div class="col first-column">
                <span class="features-todo">
                    <img class="features-icon" src="../images/shared.svg"><h3>Сотрудничайте со всеми</h3>
                </span>
                <p class="subline">Делитесь своими списками и работайте над проектами вместе с коллегами, друзьями и родственниками. С <a href="#">Wunderlist Pro</a> совместная работа стала простой как никогда.</p>
            </div>
            <div class="col second-column"><img id="collab-image" src="../images/collab.png"></div>
        </div>
    </div>
    <div id="download" class="feature-bottom">
        <div class="wrapper center">
            <h3>Доступен везде и в любое время</h3>
            <p class="subline">Мы предлагаем бесплатные версии для <a>iPhone</a>, <a>iPad</a>, устройств с <a>Android</a> и <a>Windows</a>, компьютеров <a>Mac</a> и <a>Kindle Fire</a>. Кроме того, вы можете получить доступ к своим данным в Интернете. Wunderlist одинаково хорошо работает на всех распространенных устройствах и помогает держать все под контролем.</p>
            <a class="btn outlined-rounded">Загрузить Wunderlist</a>
            <img id="all-devices" src="../images/all-devices@2x.png">
        </div>
    </div>
</div>
<div class="footer center">
    <select>
        <option selected>Russian</option>
        <option>Тут еще язык</option>
        <option>Тут еще язык</option>
        <option>Тут еще язык</option>
        <option>Тут еще язык</option>
        <option>Тут еще язык</option>
        <option>Тут еще язык</option>
    </select>
    <ul>
        <li><a>Developer</a></li>
        <li><a>Imprint</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>Terms of Use</a></li>
        <li><a>Contact</a></li>
        <li><a>Blog</a></li>
        <li><a>Support</a></li>
    </ul>
    <div id="footer_link">
        <a>We’re excited to announce that Wunderlist has joined Microsoft. Read more about it here.</a>
    </div>
</div>