@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/task.css">
    <link rel="stylesheet" href="~/lib/bootstrap-select/docs/docs/dist/css/bootstrap-select.min.css">
</head>
<body>
    <div class="container">
            <div class="input-group">
                <input type="text" class="task_text form-control">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose task <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a id="task1">Task 1</a></li>
                        <li><a id="task2">Task 2</a></li>
                        <li><a id="task3">Task 3</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="task4">Task B</a></li>
                    </ul>
                </div>
            </div>
            <ul class="list-group" id="task_result_place"></ul>
        <div class="task-content row">
            <div class="container col-md-12">
                <p>Введите уравнения прямых:</p>
                <div class="row">
                    <input type="text" id="A1" class="form-control" placeholder="A1">
                    <input type="text" id="B1" class="form-control" placeholder="B1">
                    <input type="text" id="C1" class="form-control" placeholder="C1">
                </div>
                <div class="row">
                    <input type="text" id="A2" class="form-control" placeholder="A2">
                    <input type="text" id="B2" class="form-control" placeholder="B2">
                    <input type="text" id="C2" class="form-control" placeholder="C2">
                </div>
                <p>Second task</p>
                <div class="row">
                    <form name="calculate">
                        <input name="a" min="1" type="text" class="form-control" placeholder="A">
                        <input name="operation" min="1" maxlength="1" type="text" class="form-control" placeholder="Operator">
                        <input name="b" type="text" min="1" class="form-control" placeholder="B">
                    </form>
                </div>
                <div class="text-center">
                    <div class="btn-group">
                        <div id="calculate_ajax" class="btn btn-default">
                            Calculate with ajax
                        </div>
                        <div id="calculate_post" class="btn btn-default">
                            Calculate with post
                        </div>
                    </div>
                </div>
                <span id="result" class="label label-default"></span>
                <div class="third-task">
                    <h4>Выберите Страну</h4>
                    @Html.DropDownList("Country", ViewBag.Countries as SelectList, new { id = "country" })
                    <h4>Выберите Штат</h4>
                    @Html.DropDownList("State", ViewBag.States as SelectList, new { id = "state" })
                    <h4>Выберите Город</h4>
                    @Html.DropDownList("City", ViewBag.Cities as SelectList, new { id = "city" })
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/task.js"></script>
</body>
</html>